.deleteButton {
    width: 50%;
    height: 50px;
    background: linear-gradient(to right, rgba(211, 7, 7, 1), rgba(240, 83, 83, 1));
    border: none;
    border-radius: 8px;
    font-size: 16px;
    color: white;
    cursor: pointer;
}