.addButton {
    width: 50%;
    height: 50px;
    background: linear-gradient(to left, rgba(83, 192, 240, 1), rgba(7, 150, 211, 1));
    border: none;
    border-radius: 8px;
    font-size: 16px;
    color: white;
    cursor: pointer;
}